body {
    background-color: rgb(47, 47, 47);
    color: white;
}

.figBody {
    background-color:slategrey;
    color: black;
}

.chocolateBody {
    background-color: indianred;
    color: rgb(0, 0, 0);
}

.chickenBody {
    background-color: rgb(82, 79, 79);
    color: rgb(180, 180, 180);
}

a {
    color: grey;
}

a:hover {
    color: rgb(121, 0, 0);
    
}

.chocolateLink,.figLink,.chickenLink {
    color: white;
}

.chocolateTitle {
    box-sizing: border-box;
    text-align: center;
    border: 2px solid;
    padding: 5px;
    margin: 10px auto 30px;
    height: auto;
    width: 550px;
}

.flex-container, .class1, .class2, .class3 {
    display: flex;
    border: 3px solid orange;
    flex: 1;
    padding: 10px;
    
}

.flex-container {
    height: 400px;
    width: auto;
    flex-direction: column;
    margin: 3px;
}

.flex-container div {
    height: auto;
    width: auto;
}

.class1, .class2, .class3 {
    flex-direction: row;
    margin: 12px;
}

.class1 div {
    display: flex;
    border: 3px solid salmon;
    padding: 4px;
    flex: 1;
}

 body div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 900px;
    margin: 0 auto;
}

.menu {
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
}
  
.sidebar {
    float:left;
    width: 200px;
    height: 300px;
    background-color: #F09A9D;    /* Red */
}
  
.content {
    float: left;
    width: 650px;
    height: 500px;
    background-color: #F5CF8E;    /* Yellow */
}
  
.footer {
    clear: both;
    height: 200px;
    background-color: #D6E9FE;    /* Light blue */
}

.container {
    overflow: hidden;
    background-color: #416a93;
}

.column {
    float: left;
    width: 30%;
    margin: 20px 1.5%;
    height: 160px;
    background-color: #B2D6FF;
}