/* .styling-top-left {
    width: 100px;
    height:100px;
    box-shadow: -5px 5px 5px black;
    float:left;
} */

.home-banner {
    width: 100vw;
    margin-bottom: 5%;
    border-bottom: 2px solid black;
    float: left;
    box-shadow: 5px 5px 5px black;
}

.bannerContent {
    margin: 0 auto;
    overflow: hidden;
    /* border: 2px solid red; */
    padding-left: 20vw;
}

.home-title {
    margin-top: 50%;
    text-shadow: 5px 5px black;
}

body {
    background-color: rgb(47, 47, 47);
    color: white;
}

.home-menu {
    clear: both;
}

.logo {
    /* float: left; */
    /* width: 200px; */
    margin-left: 20px;
}

.banner-box1 {
    /* border: 2px solid red; */
    float: left;
    height: 25%;
}

.banner-box2 {
    /* border: 2px solid orange; */
    float: left;
}

.figBody {
    background-color:slategrey;
    color: black;
}

.chocolateBody {
    background-color: indianred;
    color: rgb(0, 0, 0);
}

.chickenBody {
    background-color: rgb(82, 79, 79);
    color: rgb(180, 180, 180);
}

a {
    color: grey;
}

a:hover {
    color: rgb(121, 0, 0);
    
}

.chocolateLink,.figLink,.chickenLink {
    color: white;
}

.chocolateTitle {
    box-sizing: border-box;
    text-align: center;
    border: 2px solid;
    padding: 5px;
    margin: 10px auto 30px;
    height: auto;
    width: 550px;
}

.flex-container, .class1, .class2, .class3 {
    display: flex;
    border: 3px solid orange;
    flex: 1;
    padding: 10px;
    
}

.flex-container {
    height: 400px;
    width: auto;
    flex-direction: column;
    margin: 3px;
}

.flex-container div {
    height: auto;
    width: auto;
}

.class1, .class2, .class3 {
    flex-direction: row;
    margin: 12px;
}

.class1 div {
    display: flex;
    border: 3px solid salmon;
    padding: 4px;
    flex: 1;
}

 body div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 900px;
    margin: 0 auto;
}

.menu {
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
}
  
.sidebar {
    float:left;
    width: 200px;
    height: 300px;
    background-color: #F09A9D;    /* Red */
}
  
.content {
    padding: 20px;
}
  
.footer {
    overflow: hidden;
    background-color: #D6E9FE;    /* Light blue */
}

.container {
    overflow: hidden;
    background-color: #416a93;
}

.column, .column1 {
    float: left;
    width: 31%;
    margin: 20px 1.5%;
    height: 160px;
    background-color: #B2D6FF;
}

.article-image {
    float: left;
    width: 120px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

p {
    margin-bottom: 20px;
}

.avatar {
    float:left;
    border: 2px solid red;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.username {
    /* float: left; */
    margin: 10px;
    margin-left: 60px;
    margin-bottom: 15px;
}

.comment {
    margin: 0 auto;
    overflow: hidden;
}

.column1{
    overflow: auto;
}

@media only screen and (max-width: 400px) {
    body {
        background-color: red;
    }
}

.chickenImageBox {
    border: 2px solid orange;
    float: left;
    margin-left: 10px;
    margin-left: 10vw;
}

.chickenTitleBox {
    float: left;
} 

.chickenContent {
    /* border: 2px solid purple; */
    clear: both;
    padding: 10px;
}
